@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap');

body{
  background-color: black;
}

canvas{
    margin: 0;
    padding: 0;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

#overlay{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

#text1{
  color: white;
  
  text-shadow:-4px 4px 0 red,
              -4px -4px 0 blue;
  font-family: 'Roboto Mono', monospace;
  font-weight: bolder;
}

/* .header{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 40px;
    text-shadow:-10px 10px 0 #000,
                -1px -1px 0 #000;
  } */