.container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    height: 100vh;
}

.container a {
    font-size: 20px;
    display: inline-block;
    color: #a9b6c2;
    line-height: 0;
    transition: 0.3s;
    margin-left: 20px;
}

.container a:hover {
    color: #7e8cd3;
}

h2{
    z-index: 9;
    display: flex;
    justify-content: center;
    justify-items: center;
}